# Workspace build optimization

[profile.dev]
debug = 0
incremental = false

[profile.release]
strip = true
lto = "thin"
codegen-units = 1
opt-level = 3
panic = "abort"

[profile.bench]
strip = true
lto = "thin"
codegen-units = 1
opt-level = 3
debug = 0
panic = "abort"
